$background-color: #161616;
// $background-color: white;
$green: #4BC214;
$dark-green: #4EAC21;
$light-green: #A6FC4B;

$orange: #F4861E;
$dark-orange: #975A1C;
$light-orange: #FFE442;

$purple: #C023F5;
$dark-purple: #AA1FD7;
$light-purple: #FB44FF;